<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FontAwesome CSS -->
    <script type="text/javascript">
        (function () {
            var css = document.createElement('link');
            css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css';
            css.rel = 'stylesheet';
            css.type = 'text/css';
            document.getElementsByTagName('head')[0].appendChild(css);
        })();
    </script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="static/css/main.css">

    <title>COVID-19, Italy Assessment</title>
</head>

<body>

    <body>
        <div class="d-flex" id="wrapper">

            <!-- Sidebar -->
            <div class="bg-dark border-right navbar-primary" id="sidebar-wrapper">
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action bg-dark"><span class="nav-label"></span> <span
                            class="expand-collapse" id="menu"> <i id="menu-bar"
                                class="fas fa-angle-right navbar-icon"></i></span></a>
                    <a href="{% url 'dashboard'%}" class="list-group-item list-group-item-action bg-dark"><i
                            class="fas fa-chart-line navbar-icon"></i><span class="nav-label">Dashboard</span></a>
                    <a href="{%url 'dashboard_orders'%}" class="list-group-item list-group-item-action bg-dark"><i
                            class="far fa-clipboard navbar-icon"></i><span class="nav-label">Orders</span></a>
                    <a href="{% url 'dashboard_product' %}" class="list-group-item list-group-item-action bg-dark"><i
                            class="far fa-list-alt navbar-icon"></i><span class="nav-label">Products</span></a>
                    <a href="{% url 'users' %}" class="list-group-item list-group-item-action bg-dark"><i
                            class="fas fa-users navbar-icon"></i><span class="nav-label">Users</span></a>
                    <a href="{% url 'add_a_product' %}" class="list-group-item list-group-item-action bg-dark"><i
                            class="far fa-plus-square navbar-icon"></i><span class="nav-label">Add a Product</span></a>
                    <a href="{% url 'add_a_category' %}" class="list-group-item list-group-item-action bg-dark"><i
                            class="fas fa-plus-circle navbar-icon"></i><span class="nav-label">Add a Category</span></a>
                    <a href="{% url 'voucher_view' %}" class="list-group-item list-group-item-action bg-dark"><i
                            class="fas fa-tags navbar-icon"></i><span class="nav-label">Voucher</span></a>
                    <a href="{% url 'add_new_voucher' %}" class="list-group-item list-group-item-action bg-dark"><i
                            class="fas fa-plus-circle navbar-icon"></i><span class="nav-label">Add a Voucher</span></a>
                </div>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div class="w-100">
                <nav
                    class="navbar navbar-expand-lg navbar-light bg-light border-bottom navbar-fixed-top dashboard-navbar bg-dark">
                    <div class="navbar sidebar-navbar" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link home-icon" href="{% url 'index'%}"><i
                                        class="fas fa-home navbar-icon"></i> <span class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <canvas id="myChart" class="w-100"></canvas>
                </div>
            </div>
            <!-- ./Page content-->
        </div>
        <!-- /#wrapper -->

        <!-- Personal jQuery script-->
        <script>
            //collapse sidebar in dashboard
            $(document).ready(function () {
                $(".expand-collapse").click(function (e) {
                    $("#sidebar-wrapper").toggleClass("collapsed");
                });

                // If screen size < 960px use sidebar collepsed
                if ($(window).width() < 960) {
                    $("#sidebar-wrapper").addClass("collapsed");
                } else {
                    $("#sidebar-wrapper").removeClass("collapsed");
                    $('#menu-bar').toggleClass('fa-angle-right fa-angle-left');
                }
                $('#menu').click(function () {
                    $('#menu-bar').toggleClass('fa-angle-right fa-angle-left');
                })

            });
        </script>

        <!--Jquery-->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

        <!--ChartJs script-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

        <!-- Bootstrap Script-->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
        </script>


        <!--Personal Script-->
        <script src="static/js/charts.js"></script>

    </body>

</html>